#app, body, html {
    height: 100%;
    min-width: 100%;
    font-family: Roboto,Helvetica Neue,Segoe UI,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    background: url('images/sol_ring.jpg') center / cover no-repeat;
    background-color: tomato;
    
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9E93A4;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #9E93A4;
}