<template>
    <div class="app-wrapper">
        <navbar></navbar>
        <div class="app-wrapper__content">
            <searchbar 
                @openSearchModal="executeSearch" 
            ></searchbar>
            <modal 
                v-bind:modalActive="modalIsOpen"
                v-bind:searchedCards="searchedCards"
                @closeModal="modalIsOpen = false"
            ></modal>
        </div>
    </div>
</template>

<script>

import Axios from 'axios';

    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                modalIsOpen: false,
                searchedCards: []
            }
        },
        methods: {

            executeSearch(cardName) {

                this.modalIsOpen = true;
                this.searchedCards = [];

                Axios.get('https://api.scryfall.com/cards/search?order=cmc&q=' + cardName)
                     .then( (response) => {

                        var cardList = response.data.data;

                        for (let card in cardList) {

                            let cardId = cardList[card].id;
                            let cardName = cardList[card].name;
                            let cardFrontImage;
                            let cardBackImage;

                            if(cardList[card].hasOwnProperty('card_faces')) {
                                cardFrontImage = cardList[card].card_faces[0].image_uris.normal;
                                cardBackImage = cardList[card].card_faces[1].image_uris.normal
                            } else {
                                cardFrontImage = cardList[card].image_uris.normal;
                                cardBackImage = '';
                            }

                            this.searchedCards.push({
                                cardId,
                                cardName,
                                cardFrontImage,
                                cardBackImage
                            })

                        }

                     } )
                
            }
        }
    }
</script>

<style lang="scss" scoped>

    .app-wrapper {
        height: 100%;
        display: flex;

        &__content {
            width: 100%;
        }
    }

</style>