<template>
    <div class="search-modal" :class="[ modalActive ? 'active' : '']">

        <div class="search-modal__close-button-wrapper">
            <div @click="closeModal()" class="search-modal__close-button">
                Close 

                <svg class="search-modal__close-button-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="Icon_ionic-ios-close-circle-outline" data-name="Icon ionic-ios-close-circle-outline" transform="translate(-3.375 -3.375)">
                    <path id="Caminho_53" data-name="Caminho 53" d="M23.069,21.512,19.44,17.883l3.629-3.629A1.1,1.1,0,1,0,21.512,12.7l-3.629,3.629L14.255,12.7A1.1,1.1,0,1,0,12.7,14.254l3.629,3.629L12.7,21.512a1.064,1.064,0,0,0,0,1.556,1.093,1.093,0,0,0,1.556,0l3.629-3.629,3.629,3.629a1.106,1.106,0,0,0,1.556,0A1.093,1.093,0,0,0,23.069,21.512Z" transform="translate(0.491 0.491)"/>
                    <path id="Caminho_54" data-name="Caminho 54" d="M18.375,5.394a12.976,12.976,0,1,1-9.18,3.8,12.895,12.895,0,0,1,9.18-3.8m0-2.019a15,15,0,1,0,15,15,15,15,0,0,0-15-15Z" transform="translate(0 0)"/>
                </g>
                </svg>

            </div>
        </div>

        <div class="search-modal__header">
            SEARCH RESULTS
        </div>

        <div v-show="searchedCards.length == 0" class="search-modal__loader-wrapper">
            <svg class="search-modal__loader" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="225.000000pt" height="225.000000pt" viewBox="0 0 225.000000 225.000000"
            preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)"
                fill="#FFCD69" stroke="none">
                <path d="M982 2239 c-373 -48 -707 -289 -867 -623 -80 -169 -109 -302 -109
                -496 2 -253 71 -468 214 -659 176 -235 405 -379 705 -442 77 -16 323 -16 400
                0 172 36 345 110 460 196 228 171 377 404 442 688 22 99 22 345 0 444 -74 325
                -256 580 -533 746 -205 123 -470 178 -712 146z m445 -486 c188 -26 340 -50
                338 -54 -3 -3 -65 -42 -138 -84 l-133 -78 46 -81 c103 -180 148 -320 157 -481
                24 -453 -367 -657 -857 -446 -113 49 -252 132 -378 225 -56 43 -102 78 -102
                79 0 1 51 53 113 115 l114 113 54 -46 c182 -157 381 -245 551 -245 91 0 139
                16 165 56 26 40 25 216 -1 294 -23 67 -57 137 -82 167 l-19 23 -99 -140 c-55
                -77 -101 -140 -103 -140 -1 0 -3 173 -3 385 0 360 1 385 18 385 9 1 171 -21
                359 -47z"/>
                </g>
            </svg>
            
            <p class="search-modal__loader-text">Untapping lands</p>
        </div>

        <div v-show="searchedCards.length > 0" class="search-modal__results">
            
            <ul class="search-modal__results-list">
                <li class="search-modal__results-item" v-for="card in searchedCards" :key="card.cardId">
                    <img class="search-modal__results-card" :src="card.cardFrontImage" :alt="card.cardName">
                </li>
            </ul>


            
            
            <!-- FLIP CARD EXAMPLE -->

            <!-- <div class="flip-card" v-for="card in searchedCards" :key="card.cardId">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="search-modal__results-card" :src="card.cardFrontImage" :alt="card.cardName">
                    </div>
                    <div v-if="card.cardBackImage.length > 0" class="flip-card-back">
                        <img class="search-modal__results-card" :src="card.cardBackImage" :alt="card.cardName">
                    </div>
                </div>
            </div> -->


        </div>
    </div>
</template>

<script>
    export default {
        props: {
            modalActive: Boolean,
            searchedCards: Array
        },
        methods: {
            closeModal() {
                this.$emit('closeModal')
            }
        }
        
    }
</script>

<style lang="scss" scoped>

// .flip-card {
//   background-color: transparent;
//   width: 197px;

//   border: 1px solid #f1f1f1;
//   perspective: 1000px; /* Remove this if you don't want the 3D effect */
// }

// /* This container is needed to position the front and back side */
// .flip-card-inner {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   transition: transform 0.8s;
//   transform-style: preserve-3d;
// }

// /* Do an horizontal flip when you move the mouse over the flip box container */
// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

// /* Position the front and back side */
// .flip-card-front, .flip-card-back {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   -webkit-backface-visibility: hidden; /* Safari */
//   backface-visibility: hidden;
// }

// /* Style the front side (fallback if image is missing) */
// .flip-card-front {
//   background-color: #bbb;
//   color: black;
// }

// /* Style the back side */
// .flip-card-back {
//   background-color: dodgerblue;
//   color: white;
//   transform: rotateY(180deg);
// }

    .search-modal {

        // display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        width: calc(100vw - 300px);
        height: calc(100vh - 120px);
        background-color: rgba(41, 27, 45,.95);
        position: absolute;
        z-index: 1;
        // top: 120px;
        top: calc(-100vh + 120px);
        // transition: top .3s ease-in-out;
        transition: top .5s cubic-bezier(0.16, 1, 0.3, 1);
        overflow: auto;

        &.active {
            top: 120px;
            
        }


        &__close-button {
            position: absolute;
            top: 30px;
            right: 140px;
            color: #9E93A4;
            font-size: 14px;
            cursor: pointer;
            z-index: 20;

            &-wrapper {
                width: 100%;
                height: 60px;
                position: relative;
                margin-bottom: 91px;
            }

            &:hover {

                color: white;

                .search-modal__close-icon {
                    fill: white;
         
                }
                
            }

            &-icon {
                margin-left: 14px;
                fill: #9e93a4;
            }
        }

        &__header {
            font-size: 26px;
            color: #9E93A4;
            text-align: center;
        }

        &__loader {

            width: 80px;
            height: 80px;
            margin-bottom: 30px;
            animation: loader .3s linear 2s infinite alternate;

            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                position: absolute;
                top: 50%;
                margin-top: -74.5px;
                margin-left: -57.625px;
                left: 50%;
            }

            &-text:after {

                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
                animation: ellipsis steps(4,end) 900ms infinite;
                content: "\2026"; /* ascii code for the ellipsis character */
                width: 0px;

            }
            
        }

        &__results {
            width: 1100px;
            padding-top: 50px;
            margin: 0 auto;

            &-list {
                padding: 0;
            }

            &-item {

                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 30px;

                width: 190px;
                height: 264.75px;
                float: left;
                position: relative;

            }

            &-card {
                width: 190px;
                // width: 267px;
                border-radius: 15px;

                position: absolute;
            }
        }
        

    }

    @keyframes loader {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(40deg);
        }
        100% {
            transform: rotate(40deg);
        }
        
    }

    @keyframes ellipsis {
        to {
            width: 20px;    
        }
    }

    @-webkit-keyframes ellipsis {
        to {
            width: 20px;    
        }
    }
</style>