<template>
    <div class="sidebar">

        <img class="sidebar__logo" src="img/upkeep_logo.svg" alt="Upkeep Logo">

        <section class="sidebar__section">
            <ul class="sidebar__itemsList">

                <li class="sidebar__item active">
                    <div class="sidebar__itemWrapper">
                        <svg class="sidebar__itemIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"><title>dekcs</title><g id="sidebar_decks" data-name="Camada 2"><g id="Capa_1" data-name="Capa 1"><path d="M16,312V40A24,24,0,0,1,40,16H232a24,24,0,0,1,24,24v72h16V40A40.05,40.05,0,0,0,232,0H40A40.05,40.05,0,0,0,0,40V312a40.05,40.05,0,0,0,40,40H192V336H40A24,24,0,0,1,16,312Z"/><path d="M440,128H248a40.05,40.05,0,0,0-40,40V440a40.05,40.05,0,0,0,40,40H440a40.05,40.05,0,0,0,40-40V168A40.05,40.05,0,0,0,440,128Zm24,312a24,24,0,0,1-24,24H248a24,24,0,0,1-24-24V168a24,24,0,0,1,24-24H440a24,24,0,0,1,24,24Z"/><path d="M287.2,176H312V160H280a8,8,0,0,0-8,8,24,24,0,0,1-24,24,8,8,0,0,0-8,8v40h16V207.2A40.11,40.11,0,0,0,287.2,176Z"/><path d="M78.2,45H103V29H71a8,8,0,0,0-8,8A24,24,0,0,1,39,61a8,8,0,0,0-8,8v40H47V76.2A40.11,40.11,0,0,0,78.2,45Z"/><path d="M432,400.8A40.11,40.11,0,0,0,400.8,432H376v16h32a8,8,0,0,0,8-8,24,24,0,0,1,24-24,8,8,0,0,0,8-8V368H432Z"/></g></g></svg>

                        DECKS
                    </div>
                </li>

                <li class="sidebar__item">
                    <div class="sidebar__itemWrapper">
                        <svg class="sidebar__itemIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 440"><title>wishlist</title><g id="Camada_2" data-name="Camada 2"><g id="Camada_1-2" data-name="Camada 1"><path d="M110,240a10,10,0,1,0,10,10A10,10,0,0,0,110,240Z"/><path d="M110,300a10,10,0,1,0,10,10A10,10,0,0,0,110,300Z"/><path d="M282,240H150a10,10,0,0,0,0,20H282a10,10,0,0,0,0-20Z"/><path d="M282,300H150a10,10,0,0,0,0,20H282a10,10,0,0,0,0-20Z"/><path d="M412,90V40A40.05,40.05,0,0,0,372,0H90A50.06,50.06,0,0,0,40,50V360H10A10,10,0,0,0,0,370a70.08,70.08,0,0,0,70,70H302c29.27,0,50-24.93,50-52.14V100h50A10,10,0,0,0,412,90ZM70,420a50.1,50.1,0,0,1-49-40H252v10a49.73,49.73,0,0,0,10,30ZM332,40V387.86c0,16.56-12,32.14-30,32.14a30,30,0,0,1-30-30V370a10,10,0,0,0-10-10H60V50A30.12,30.12,0,0,1,90,19.9H337.35A40.28,40.28,0,0,0,332,40Zm60,40H352V40a20,20,0,0,1,40,0Z"/><path d="M171.37,182.35c5.7,4.81,11.59,9.79,17.85,15.21a10,10,0,0,0,13.1,0c6.25-5.42,12.15-10.4,17.85-15.21C252,155.49,275,136.08,275,107.58,275,80.9,255.4,60,230.38,60c-16.82,0-27.79,9-34.61,18.2C189,69,178,60,161.15,60c-25,0-44.61,20.9-44.61,47.58C116.54,136.08,139.54,155.48,171.37,182.35ZM161.15,80c18.26,0,24.73,21.79,25,22.71a10,10,0,0,0,9.59,7.27h.05a10,10,0,0,0,9.61-7.27c.27-.92,6.74-22.71,25-22.71,14,0,24.62,11.86,24.62,27.58,0,19.21-18,34.37-47.73,59.49-3.73,3.14-7.55,6.36-11.5,9.74-4-3.38-7.77-6.6-11.5-9.75-29.77-25.11-47.73-40.27-47.73-59.48C136.54,91.86,147.12,80,161.15,80Z"/></g></g></svg>

                        WISHLIST
                    </div>
                </li>

                <li class="sidebar__item">
                    <div class="sidebar__itemWrapper">
                        <svg class="sidebar__itemIcon" id="_x31_px" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m5.5 24h-4c-.827 0-1.5-.673-1.5-1.5v-15c0-.827.673-1.5 1.5-1.5h4c.827 0 1.5.673 1.5 1.5v15c0 .827-.673 1.5-1.5 1.5zm-4-17c-.276 0-.5.224-.5.5v15c0 .276.224.5.5.5h4c.276 0 .5-.224.5-.5v-15c0-.276-.224-.5-.5-.5z"/><path d="m11.5 24h-4c-.827 0-1.5-.673-1.5-1.5v-21c0-.827.673-1.5 1.5-1.5h4c.827 0 1.5.673 1.5 1.5v21c0 .827-.673 1.5-1.5 1.5zm-4-23c-.276 0-.5.224-.5.5v21c0 .276.224.5.5.5h4c.276 0 .5-.224.5-.5v-21c0-.276-.224-.5-.5-.5z"/><path d="m3.5 20h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h3c.276 0 .5.224.5.5s-.224.5-.5.5z"/><path d="m9.5 20h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h3c.276 0 .5.224.5.5s-.224.5-.5.5z"/><path d="m3.5 17c-.276 0-.5-.224-.5-.5v-7c0-.276.224-.5.5-.5s.5.224.5.5v7c0 .276-.224.5-.5.5z"/><path d="m9.5 17c-.276 0-.5-.224-.5-.5v-13c0-.276.224-.5.5-.5s.5.224.5.5v13c0 .276-.224.5-.5.5z"/><path d="m18.637 24c-.663 0-1.271-.442-1.45-1.112l-5.047-18.836c-.104-.387-.051-.791.15-1.138.2-.347.523-.595.911-.699l3.864-1.035c.388-.104.792-.051 1.138.149.347.201.596.524.699.911l5.047 18.835c.214.8-.262 1.624-1.061 1.837l-3.864 1.036c-.129.035-.259.052-.387.052zm-1.183-21.871c-.043 0-.087.005-.13.017l-3.864 1.035c-.129.035-.237.117-.304.233-.066.116-.084.25-.05.379l5.047 18.836c.072.266.344.424.613.354l3.863-1.036c.266-.071.425-.346.354-.613l-5.047-18.834c-.035-.129-.117-.237-.233-.304-.077-.045-.162-.067-.249-.067z"/><path d="m16.893 20.361c-.221 0-.423-.147-.482-.371-.071-.267.087-.541.354-.612l2.898-.776c.268-.07.542.086.612.354.071.267-.087.541-.354.612l-2.898.776c-.044.011-.087.017-.13.017z"/><path d="m19.015 16.687c-.221 0-.422-.147-.482-.371l-2.977-11.108c-.071-.267.087-.541.354-.612.266-.072.541.086.612.354l2.977 11.108c.071.267-.087.541-.354.612-.044.011-.087.017-.13.017z"/></svg>

                        COLLECTION
                    </div>
                </li>

                <li class="sidebar__item">
                    <div class="sidebar__itemWrapper">
                        <svg class="sidebar__itemIcon"   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 465.08"><title>friendsAtivo 1</title><g id="Camada_2" data-name="Camada 2"><g id="Capa_1" data-name="Capa 1"><path d="M509,332.4l-24.41-24.21a10,10,0,1,0-14.08,14.2L495,346.6A10,10,0,1,0,509,332.4Z"/><path d="M459.76,283.42a10,10,0,0,0-14.14,0l0,0a10,10,0,1,0,14.16,0Z"/><path d="M374.49,329.54l97-97a37.67,37.67,0,0,0-18.18-63.36,37.7,37.7,0,0,0-27.78-53A37.64,37.64,0,0,0,396.2,67.2a37.71,37.71,0,0,0-53.79-45l-1-1A66.76,66.76,0,0,0,292.74,0H214.2a10,10,0,0,0-10,10V23.12a45.34,45.34,0,0,0,2.59,15.16,37.69,37.69,0,0,0-50.24,46.65,37.69,37.69,0,0,0-29.4,48.93,37.7,37.7,0,0,0-27.76,53,37.7,37.7,0,0,0-18.18,63.39l20,19.95L2.93,368.43a10,10,0,1,0,14.14,14.15l99.19-99.18a37.68,37.68,0,0,0,56.26-34.3c.51,0,1,0,1.52,0a37.66,37.66,0,0,0,37.69-37.67c0-.51,0-1,0-1.53.5,0,1,0,1.51,0a37.66,37.66,0,0,0,37.69-37.67c0-.51,0-1,0-1.52q.75,0,1.5,0a37.67,37.67,0,0,0,29.16-61.56L347.9,42.87a17.68,17.68,0,1,1,25,25l-9.79,9.79L327.6,113.19a10,10,0,0,0,14.15,14.14l35.52-35.52a17.69,17.69,0,1,1,25,25l-9.79,9.79-25.73,25.72a10,10,0,0,0,14.15,14.15l25.72-25.73a17.69,17.69,0,1,1,25,25l-13.44,13.44L405.92,191.5a10,10,0,1,0,14.14,14.15l12.3-12.3a17.69,17.69,0,0,1,25,25l-97,97a135.54,135.54,0,0,1-91.18,39.72,10,10,0,0,0-6.72,2.94L172.8,448A10,10,0,0,0,187,462.14L252.9,396a93,93,0,0,0,56.47,14.53L361,462.09A10,10,0,0,0,375.11,448l-54.86-54.87a10,10,0,0,0-7.89-2.89l-3.17.26a73,73,0,0,1-41.74-9.09l6.43-6.45A155.41,155.41,0,0,0,374.49,329.54Zm-227.1-66.41a17.68,17.68,0,0,1-25,0l-27-27a17.69,17.69,0,0,1,25-25l27,27A17.7,17.7,0,0,1,147.39,263.13ZM186.55,224a17.7,17.7,0,0,1-25,0l-27-27-13.44-13.43a17.69,17.69,0,1,1,25-25L186.55,199h0a17.68,17.68,0,0,1,0,25Zm39.16-39.16a17.71,17.71,0,0,1-25,0l-50.25-50.25a17.68,17.68,0,0,1,25-25l22.91,22.9L225.7,159.8h0a17.71,17.71,0,0,1,0,25Zm39.15-39.16a17.7,17.7,0,0,1-25,0L189.6,95.4h0l-9.77-9.78a17.68,17.68,0,0,1,25-25l60,60a17.68,17.68,0,0,1,0,25ZM267.49,95,240,67.51a45.55,45.55,0,0,0,9.58,1h.22l27.45-.13a10,10,0,0,0,0-20h0l-27.45.13h-.13a25.38,25.38,0,0,1-25.4-25.4V20h68.54A46.7,46.7,0,0,1,326.8,34.83l.41.44Z"/></g></g></svg>

                        FRIENDS
                    </div>
                </li>

            </ul>
        </section>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    .sidebar {
        width: 300px;
        height: 100%;
        padding-top: 30px;
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        background-color: #291B2D;
        box-shadow: 3px 6px 7px 6px rgba(0,0,0,.16);
        

        &__logo {
            width: 206px;
            height: 53px;
            margin-bottom: 150px;
        }

        &__header {
            margin-top: 15px;
            margin-bottom: 0;
            text-align: center;
            color: white;
        }

        &__section {
            width: 100%;
        }

        &__itemsList {
            padding: 0;
            width: 100%;
            list-style: none;
        }

        &__itemWrapper {
            min-width: 180px;
        }

        &__item {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 99px;
            background-color: transparent;
            color: #9E93A4;
            font-size: 16px;
            transition: color .3s ease-in-out, background-color .3s ease-in-out;
            cursor: pointer;

            &.active {
                background-color: #45334A;
                color: white;

                .sidebar__itemIcon {
                    fill: white;
                }
            }

            &:hover {

                color: white;
                background-color: #45334A;

                .sidebar__itemIcon {
                    fill: white;
                }
            }
        }

        &__itemIcon {

            width: 35px;
            height: 35px;
            fill: #9E93A4;
            margin-right: 30px;
            transition: fill .3s ease-in-out;

            &:hover {
                fill: white;
            }
        }
    }
</style>