<template>
    <div class="search-bar">

        <div class="search-bar__mtgBackground">
            
            <img src="img/mana_blue.svg" alt="Magic the Gathering blue Mana Icon">

            <img src="img/mana_white.svg" alt="Magic the Gathering white Mana Icon">

            <img src="img/mana_black.svg" alt="Magic the Gathering black Mana Icon">

            <img src="img/mana_red.svg" alt="Magic the Gathering red Mana Icon">

            <img src="img/mana_green.svg" alt="Magic the Gathering green Mana Icon">

        </div> 

        <div class="search-bar__inputWrapper">

            <img class="search-bar__searchIcon" src="img/search_icon.svg" alt="Amplifying Glass Icon">
            <form v-on:submit.prevent="openSearchModal()" >
                <input 
                    class="search-bar__input" 
                    type="text" 
                    placeholder="Search for a card..."
                    v-model="cardName"
                >
            </form>

        </div>

        

    </div>
</template>

<script>
    export default {
        data() {
            return {
                modalActive: false,
                cardName: ''
            }
        },
        methods: {
            openSearchModal() {
                this.$emit('openSearchModal', this.cardName)
            }
        }
        
    }
</script>

<style lang="scss" scoped>

    .search-bar {
        width: 100%;
        height: 120px;
        background-color: #45334A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;

        &__mtgBackground {
            
            width: 50.12%;
            max-width: 811px;
            height: 53px;
            margin-left: 116px;
            display: flex;
            justify-content: space-between;
            opacity: .07;
        }

        &__inputWrapper {
            position: relative;
            margin-left: 150px;
        }

        &__searchIcon {
            position: absolute;
            top: 12px;
            left: 15px;
        }

        &__input {
            width: 400px;
            height: 45px;
            margin-right: 140px;
            padding-left: 51px;
            background-color: rgba(41, 27, 45,.3);
            border: 1px solid rgba(193, 147, 220, .3);
            border-radius: 6px;
            color: #9E93A4;
            outline: none;
            
        }

        
    }


</style>